<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Resto Sarif berlokasi di Batam" />

    <!-- Inisialisasi Website pada Tab Browser -->
    <title>Sarif Resto</title>
    <link rel="icon" href="../public/images/favIcon.ico" type="image/x-icon" />
  </head>

  <body>
    <a href="#content" class="skip-link">Ke Konten Selanjutnya ?</a>
    <!-- Nav Mobile  -->
    <div class="menumob">
      <button class="iconmenu" id="menu">☰</button>
      <div class="iconmenu">Sarif Resto</div>
      <div>&nbsp;</div>
    </div>
    <nav id="drawer" class="navmob">
      <ul class="navlistmob">
        <li class="navitemsmob"><a href="">Beranda</a></li>
        <li class="navitemsmob"><a href="#">Favorit</a></li>
        <li class="navitemsmob"><a target="_blank" href="https://www.linkedin.com/in/sarifht/">Tentang</a></li>
      </ul>
    </nav>

    <!-- Nav Desktop  -->
    <nav class="nav">
      <a class="logo" href=""><h1>Sarif Resto</h1></a>
      <ul class="navlist">
        <li class="navitems"><a href="">Beranda</a></li>
        <li class="navitems"><a href="#">Favorit</a></li>
        <li class="navitems"><a target="_blank" href="https://www.linkedin.com/in/sarifht/">Tentang</a></li>
      </ul>
    </nav>

    <!-- Hero -->
    <div class="hero" alt="Jumbotron">
      <div tabindex="0" class="hero_text">
        <h1 class="herotitle">Selamat Datang di Sarif Resto</h1>
        <p class="herosubtitle">Cari Restoran Favorit Kamu</p>
      </div>
    </div>

    <!-- Content -->
    <main id="content">
      <section class="content">
        <div class="select">
          <h1><u tabindex="0">Pilih Restoran</u></h1>
          <div class="list" id="data"></div>
        </div>
      </section>
    </main>

    <!-- Footer-->
    <footer class="footer">
      <p>Copyright © 2024 - Sarif Hidayatullah</p>
    </footer>
  </body>
</html>
