@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-size: 12px;
  color: #343f56;
  font-family: "Nunito", sans-serif;
}
a {
  min-width: 44px;
  min-height: 44px;
}
.menumob {
  background-color: #fb9300;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  padding: 3px;
  color: #f5e6ca !important;
  border-bottom: 2px solid #343f56;
}
.navmob {
  background-color: #fb9300;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
}
.navlistmob {
  padding: 0;
  margin: 0;
  width: 100%;
}
.navitemsmob {
  box-sizing: border-box;
  text-transform: uppercase;
  line-height: 24px;
}
.iconmenu {
  padding: 20px;
  font-size: 30px;
  background-color: #fb9300;
  border: none;
  color: #f5e6ca !important;
}
.navmob a {
  padding: 2em;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}
.nav {
  background-color: #fb9300;
  display: flex;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.navlist {
  padding: 0;
  margin: 0;
  width: 70%;
  text-align: right;
}
.logo {
  padding: 0;
  margin: 0;
  width: 25%;
  line-height: 24px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
}
.logo h1 {
  color: #f5e6ca;
}
.navitems {
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
  line-height: 24px;
  text-transform: uppercase;
}
.nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: #343f56 !important;
}
.nav a:hover {
  text-decoration: none;
}
.hero {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 450px;
  width: 100%;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 20, 0.5), rgba(0, 0, 20, 0.5)), url("../public/images/heros/hero-image.jpg");
  background-color: Black !important;
}
.hero_text {
  margin: 0 auto;
  max-width: 800px;
  color: #f5e6ca;
}
.herotitle {
  font-weight: 600;
  font-size: 36px;
  text-shadow: 1px 1px #141414;
}
.herosubtitle {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px #141414;
}
main {
  width: 100%;
  margin: 0 auto;
}
.content {
  padding: 70px;
}
.select {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.select h1 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
.list {
  text-align: left;
  display: grid;
  margin: 32px auto auto;
  grid-row-gap: 16px;
}
.list_item {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: #343f56 solid 0.1px;
  box-shadow: 0 2px 4px 0 #343f56;
}
.rating {
  top: 8px;
  left: 16px;
  font-weight: 500;
  border-radius: 5px;
  position: absolute;
  padding: 5px 10px 5px;
  background-color: #fb9300;
  color: #f5e6ca;
  text-align: left;
}
.list_item_content {
  padding: 20px;
}
.list_item_thumb {
  width: 100%;
  max-height: 200px;
}
.list_item_city {
  text-align: right;
  font-size: 12px;
  margin: -8px -4px;
  text-transform: uppercase;
}
.list_item_city_value {
  color: rgb(248, 99, 0);
  text-decoration: none;
  padding: 15px 25px;
}
.list_item_title {
  transition: 0.3s opacity;
  margin-top: 16px;
}
.list_item_title:hover {
  opacity: 0.5;
  color: #fb9300;
}
.list_item_title a {
  margin: 20px 0 20px -20px;
  padding: 13px 18px;
  text-decoration: none;
  color: inherit;
}
.list_item_desc {
  font-size: 12px;
  margin-top: -20px;
  line-height: 1.5em;
  text-align: justify;
}
.skip-link {
  font-size: 20px;
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #fb9300;
  color: rgba(255, 255, 255, 0.918);
  padding: 10px;
  z-index: 100;
  text-decoration: none;
}
.skip-link:focus {
  top: 150px;
}
footer {
  color: #f5e6ca;
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding: 2em;
  background-color: #fb9300;
}
footer p {
  padding: 12px;
}
footer .info {
  text-decoration: none;
  padding: 20px;
}
